<div class="padded" style="padding: 30px;" md-whiteframe="{{height}}" flex="100" flex-gt-xs="100" layout-align="center center"
     ng-init="height = 3" ng-mouseenter="height = 6" ng-mouseleave="height = 3">

    <div class="md-inline-form" layout="column">

        <form name="form" novalidate id="top">
            <div layout-gt-xs="row" ng-hide="true">
                <md-input-container class="md-block" flex-gt-xs>
                    <input ng-model="Contact.id">
                </md-input-container>
            </div>

            <h2>Basic Information</h2>
            <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                    <md-icon md-svg-src="/Images/icons/ic_person_24px.svg"></md-icon>
                    <label>Full Name</label>
                    <input required name="name" ng-model="Contacts.name">
                    <div ng-messages="form.name.$error" ng-show="form.name.$dirty || form.$submitted">
                        <div ng-message="required">Full Name is Required.</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <md-icon md-svg-src="/Images/icons/ic_access_time_24px.svg"></md-icon>
                    <label>Date Of Birth</label>
                    <md-datepicker name="dateofbirth" ng-model="Contacts.dateofbirth"></md-datepicker>
                </md-input-container>
            </div>

            <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                    <md-icon md-svg-src="/Images/icons/ic_place_24px.svg"></md-icon>
                    <label>Curent Address</label>
                    <textarea name="curentaddress" ng-model="Contacts.curentaddress"></textarea>
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>
                    <md-icon md-svg-src="/Images/icons/ic_place_24px.svg"></md-icon>
                    <label>Parmanent Address</label>
                    <textarea name="parmanentaddress" ng-model="Contacts.parmanentaddress"></textarea>
                </md-input-container>
            </div>

            <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                    <md-icon md-svg-src="/Images/icons/ic_more_vert_24px.svg"></md-icon>
                    <label>City</label>
                    <md-autocomplete ng-disabled="isDisabled"
                                     ng-model="Contact.city"
                                     md-search-text="searchText"
                                     md-no-cache="noCache"
                                     md-selected-item="selectedItem"
                                     md-selected-item-change="selectedItemChange(Contact)"
                                     md-items="item in querySearch(searchText)"
                                     md-item-text="Contact.city"
                                     md-min-length="0"
                                     placeholder="Write you Head Name here.">
                        <md-item-template>

                            <span md-highlight-text="searchText" md-highlight-flags="^i">{{Contacts.city}}</span>

                        </md-item-template>
                        <md-not-found>
                            No Action matching "{{searchText}}" were found.
                            <a ng-click="newAction(searchText)">Create a new one!</a>
                        </md-not-found>
                    </md-autocomplete>
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>
                    <md-icon md-svg-src="/Images/icons/ic_visibility_24px.svg"></md-icon>
                    <label>Country</label>
                    <input name="country" value="Bangladesh" ng-model="Contacts.country">
                </md-input-container>
            </div>



            <md-divider></md-divider>
            <h2>Contact Information</h2>
            <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                    <md-icon md-svg-src="/Images/icons/ic_phone_24px.svg"></md-icon>
                    <label>Primary Contact Number</label>
                    <input name="contactnumber1" ng-model="Contact.contactnumber1">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <md-icon md-svg-src="/Images/icons/ic_phone_24px.svg"></md-icon>
                    <label>Secondary Contact Number</label>
                    <input name="contactnumber2" ng-model="Contact.contactnumber2">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <md-icon md-svg-src="/Images/icons/ic_email_24px.svg" class="email"></md-icon>
                    <label>Email</label>
                    <input name="email" ng-model="Contact.email">
                </md-input-container>
            </div>

            <md-divider></md-divider>
            <h2>Identification Information</h2>
            <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                    <md-icon md-svg-src="/Images/icons/ic_label_24px.svg"></md-icon>
                    <label>National ID Number</label>
                    <input name="nidnumber" ng-model="Contact.nidnumber">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <md-icon md-svg-src="/Images/icons/ic_label_24px.svg"></md-icon>
                    <label>Driving Licence Number</label>
                    <input name="drivinglicencenumber" ng-model="Contact.drivinglicencenumber">
                </md-input-container>
            </div>

            <md-divider></md-divider>
            <h2>Organizational Information</h2>

            <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                    <md-icon md-svg-src="/Images/icons/ic_more_vert_24px.svg"></md-icon>
                    <label>Select Type</label>
                    <md-autocomplete ng-disabled="isDisabled"
                                     ng-model="Contact.type"
                                     md-search-text="searchText"
                                     md-no-cache="noCache"
                                     md-selected-item="selectedItem"
                                     md-search-text-change="searchTextChange(searchText)"
                                     md-items="item in querySearch(searchText)"
                                     md-item-text="Contact.type"
                                     md-min-length="0"
                                     placeholder="Write contact type here.">
                        <md-item-template>
                            <span md-highlight-text="searchText" md-highlight-flags="^i">{{Contact.type}}</span>
                        </md-item-template>
                        <md-not-found>
                            No Action matching "{{searchText}}" were found.
                            <a ng-click="newAction(searchText)">Create a new one!</a>
                        </md-not-found>
                    </md-autocomplete>
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>
                    <md-icon md-svg-src="/Images/icons/ic_code_24px.svg"></md-icon>
                    <label>Code</label>
                    <input type="text" name="code" ng-model="Contacts.code">
                </md-input-container>
            </div>


            <div layout-gt-sm="row">

                <md-input-container class="md-block" flex-gt-sm>
                    <md-icon md-svg-src="/Images/icons/ic_play_arrow_24px.svg"></md-icon>
                    <label>Designation</label>
                    <input name="designation" ng-model="Contact.designation">
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>
                    <md-icon md-svg-src="/Images/icons/ic_access_time_24px.svg"></md-icon>
                    <label>Joining Date</label>
                    <md-datepicker name="joiningdate" ng-model="Contacts.joiningdate"></md-datepicker>
                </md-input-container>


                <md-input-container class="md-block" flex-gt-sm>
                    <md-icon md-svg-src="/Images/icons/ic_code_24px.svg"></md-icon>
                    <label>Hourly Cost</label>
                    <input name="hourlycost" ng-model="Contact.hourlycost">
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>
                    <md-icon md-svg-src="/Images/icons/ic_access_time_24px.svg"></md-icon>
                    <label>Discontinution Date</label>
                    <md-datepicker name="leavedate" ng-model="Contacts.leavedate"></md-datepicker>
                </md-input-container>

            </div>

            <div layout-gt-sm="row">
                <md-button type="submit" ng-click="save(Contact)">
                    <ng-md-icon icon="save"></ng-md-icon>
                    {{entryButtonStatus}}
                </md-button>
                <md-button ng-click="reset()">
                    <ng-md-icon icon="refresh">
                    </ng-md-icon>Reset
                </md-button>
            </div>
        </form>
    </div>
</div>