<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="ProSoftContext" connectionString="Data Source=DESKTOP-JQ6N67Q\PROSOFT;Initial Catalog=ProSoft;Integrated Security=True;MultipleActiveResultSets=True"
      providerName="System.Data.SqlClient" />
    <add name="simsoftContext" connectionString="Data Source=desktop-fqe32u8;Initial Catalog=simsoft;Persist Security Info=True;User ID=developer1;Password=dev1;MultipleActiveResultSets=True"
      providerName="System.Data.SqlClient" />
    <add name="masterContext" connectionString="Data Source=DESKTOP-FQE32U8;Persist Security Info=True;User ID=developer1;Password=dev1;MultipleActiveResultSets=True"
      providerName="System.Data.SqlClient" />
    <add name="AccountsContext" connectionString="Data Source=DESKTOP-FQE32U8;Initial Catalog=Accounts;Persist Security Info=True;User ID=developer1;Password=dev1;MultipleActiveResultSets=True"
      providerName="System.Data.SqlClient" />
    <add name="TestDBContext" connectionString="Data Source=DESKTOP-CPK78E7\MIZAN;Initial Catalog=TestDB;Integrated Security=True;MultipleActiveResultSets=True"
      providerName="System.Data.SqlClient" />
    <add name="VMSContext" connectionString="Data Source=DESKTOP-CPK78E7\MIZAN;Initial Catalog=VMS;Integrated Security=True;MultipleActiveResultSets=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>