<div>
    <h1>Add Vehicle</h1>
    <md-tabs flex md-border-bottom="" md-align-tabs="top" style="min-height:450px !important">
        <md-tab label="Basic Information">
            <md-content class="md-padding">
                <!--<h1 class="md-display-2">Details</h1>-->
                <div ng-include="'app/views/vehicle/details.html'"></div>
            </md-content>
        </md-tab>
        <md-tab label="Specifications">
            <md-content class="md-padding">
                <div ng-include="'app/views/vehicle/specifications.html'"></div>
            </md-content>
        </md-tab>
        <md-tab label="Engine & Transmission">
            <md-content class="md-padding">
                <div ng-include="'app/views/vehicle/engine_and_transmission.html'"></div>
            </md-content>
        </md-tab>
        <md-tab label="Wheels & Tires">
            <md-content class="md-padding">
                <div ng-include="'app/views/vehicle/wheels_tires.html'"></div>
            </md-content>
        </md-tab>
        <md-tab label="fluids">
            <md-content class="md-padding">
                <div ng-include="'app/views/vehicle/fluids.html'"></div>
            </md-content>
        </md-tab>
    </md-tabs>
    <div layout-gt-sm="row">
        <md-button type="submit" ng-click="save(Vehicle)">
            <ng-md-icon icon="save"></ng-md-icon>
            {{entryButtonStatus}}
        </md-button>
        <md-button ng-click="reset()" > <ng-md-icon icon="refresh"></ng-md-icon>Reset</md-button>
    </div>
</div>

